ServiceOrientedComputingWS1/CalculatorClient/Connected Services/CalculatorService/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Calculator" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICalculator_Sum_InputMessage">
    <wsdl:part name="parameters" element="tns:Sum" />
  </wsdl:message>
  <wsdl:message name="ICalculator_Sum_OutputMessage">
    <wsdl:part name="parameters" element="tns:SumResponse" />
  </wsdl:message>
  <wsdl:message name="ICalculator_Substraction_InputMessage">
    <wsdl:part name="parameters" element="tns:Substraction" />
  </wsdl:message>
  <wsdl:message name="ICalculator_Substraction_OutputMessage">
    <wsdl:part name="parameters" element="tns:SubstractionResponse" />
  </wsdl:message>
  <wsdl:portType name="ICalculator">
    <wsdl:operation name="Sum">
      <wsdl:input wsaw:Action="http://tempuri.org/ICalculator/Sum" message="tns:ICalculator_Sum_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICalculator/SumResponse" message="tns:ICalculator_Sum_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Substraction">
      <wsdl:input wsaw:Action="http://tempuri.org/ICalculator/Substraction" message="tns:ICalculator_Substraction_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICalculator/SubstractionResponse" message="tns:ICalculator_Substraction_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Endpoint1" type="tns:ICalculator">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Sum">
      <soap:operation soapAction="http://tempuri.org/ICalculator/Sum" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Substraction">
      <soap:operation soapAction="http://tempuri.org/ICalculator/Substraction" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Calculator">
    <wsdl:port name="Endpoint1" binding="tns:Endpoint1">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/Calculator/" />
    </wsdl:port>
    <wsdl:port name="Endpoint2" binding="tns:Endpoint1">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/Service/Calculator/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>