ServiceOrientedComputingWS1/Client/Connected Services/MyVelibService/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SOAPLibraryVelib" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SOAPLibraryVelib" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Station">
    <xs:sequence>
      <xs:element minOccurs="0" name="address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="available_bike_stands" type="xs:int" />
      <xs:element minOccurs="0" name="available_bikes" type="xs:int" />
      <xs:element minOccurs="0" name="banking" type="xs:boolean" />
      <xs:element minOccurs="0" name="bike_stands" type="xs:int" />
      <xs:element minOccurs="0" name="bonus" type="xs:boolean" />
      <xs:element minOccurs="0" name="contract_name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="last_update" nillable="true" type="xs:anyType" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="number" type="xs:int" />
      <xs:element minOccurs="0" name="status" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Station" nillable="true" type="tns:Station" />
  <xs:complexType name="ArrayOfStation">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Station" nillable="true" type="tns:Station" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfStation" nillable="true" type="tns:ArrayOfStation" />
</xs:schema>