ServiceOrientedComputingWS1/Client/Connected Services/VelibSOAPService/item3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SOAPLibraryVelib" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SOAPLibraryVelib" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8733/Design_Time_Addresses/SOAPLibraryVelib/Service/?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="ArrayOfCity">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="City" nillable="true" type="tns:City" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCity" nillable="true" type="tns:ArrayOfCity" />
  <xs:complexType name="City">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="cities" nillable="true" type="q1:ArrayOfstring" />
      <xs:element minOccurs="0" name="commercial_name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="country_code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="City" nillable="true" type="tns:City" />
  <xs:complexType name="Station">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="Station" nillable="true" type="tns:Station" />
  <xs:complexType name="ArrayOfStation">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Station" nillable="true" type="tns:Station" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfStation" nillable="true" type="tns:ArrayOfStation" />
</xs:schema>