ServiceOrientedComputingWS1/Client/Connected Services/VelibSOAPService/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/SOAPLibraryVelib/Service/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/SOAPLibraryVelib/Service/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/SOAPLibraryVelib/Service/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SOAPLibraryVelib" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/SOAPLibraryVelib/Service/?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService_GetCities_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCities" />
  </wsdl:message>
  <wsdl:message name="IService_GetCities_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCitiesResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetStation_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStation" />
  </wsdl:message>
  <wsdl:message name="IService_GetStation_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStationResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetStations_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStations" />
  </wsdl:message>
  <wsdl:message name="IService_GetStations_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStationsResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetStationsForCity_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStationsForCity" />
  </wsdl:message>
  <wsdl:message name="IService_GetStationsForCity_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStationsForCityResponse" />
  </wsdl:message>
  <wsdl:portType name="IService">
    <wsdl:operation name="GetCities">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetCities" message="tns:IService_GetCities_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetCitiesResponse" message="tns:IService_GetCities_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetStation">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetStation" message="tns:IService_GetStation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetStationResponse" message="tns:IService_GetStation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetStations">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetStations" message="tns:IService_GetStations_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetStationsResponse" message="tns:IService_GetStations_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetStationsForCity">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetStationsForCity" message="tns:IService_GetStationsForCity_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetStationsForCityResponse" message="tns:IService_GetStationsForCity_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="velib" type="tns:IService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCities">
      <soap:operation soapAction="http://tempuri.org/IService/GetCities" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStation">
      <soap:operation soapAction="http://tempuri.org/IService/GetStation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStations">
      <soap:operation soapAction="http://tempuri.org/IService/GetStations" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStationsForCity">
      <soap:operation soapAction="http://tempuri.org/IService/GetStationsForCity" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="velib" binding="tns:velib">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/SOAPLibraryVelib/Service/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>